.login-page {
    display: flex;
    height: 1100px;

    .login-illus {
        background: #ffdcdc url(~@/assets/LoginPage/green_login_page.svg) 100% no-repeat;
        background-size: 85%;
        background-position-x: 230px;

        // background-color: #ffdcdc;
        flex-basis: 50%;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        img {
            max-width: 708px;
        }
    }

    .login-main {
        direction: rtl;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-basis: 50%;
        padding: 220px 25px;
        font-family: almoni-neue;
        color: #23445a;

        .form-container {
            margin-inline-start: 330px;
            width: 420px;
            text-align: start;
            h2 {
                font-family: almoni-tzar-bold;
                font-size: 48px;
                margin-bottom: 70px;
            }
            h4 {
                margin-top: 30px;
                font-weight: 500;
                font-size: 22px;
                color: #0084f4;
                a {
                    color: #0084f4;
                }
            }
        }

        form {
            display: flex;
            flex-direction: column;

            .ram-tf {
                font-size: 14px;
                color: #23445a;
                text-align: start;
                margin-bottom: 69px;

                input {
                    font-family: almoni-neue;
                }

                .error-info-container {
                    .field-error {
                        color: red;
                    }
                }
            }

            .form-btn-group {
                display: flex;
                justify-content: space-between;

                button {
                    font-family: almoni-neue;
                    font-weight: 600;
                    font-size: 16px;
                }
            }
        }
    }
}

@media screen and (max-width: 1500px) {
    .login-page {
        .login-illus {
            background-size: 90%;
            background-position-x: center;
        }

        .login-main {
            align-items: center;
            .form-container {
                margin-inline-start: 0;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .login-page {
        height: 100vh;
        justify-content: center;
        .login-illus {
            display: none;
        }
        .login-main {
            padding: 220px 10px;
        }
    }
}
