.container {
    width: 1140px;
}

@media screen and (max-width: 1200px) {
    .container {
        width: 768px;
    }
}

@media screen and (max-width: 800px) {
    .container {
        width: 460px;
    }
}