@font-face {
    font-family: almoni-regular;
    src: url("~@/assets/fonts/almoni-dl-aaa-regular.otf");
}

@font-face {
    font-family: almoni-neue;
    src: url("~@/assets/fonts/almoni-neue-aaa-400.ttf");
}

@font-face {
    font-family: almoni-tzar-bold;
    src: url("~@/assets/fonts/almoni-tzar-aaa-bold.otf");
}

// @font-face {
//     font-family: almoni-neue-bold;
//     src: url("~@/assets/fonts/almoni-neue-aaa-900.ttf");
// }

// @font-face {
//     font-family: almoni-light;
//     src: url("~@/assets/fonts/almoni-dl-aaa-light.otf");
// }
